body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #9be15d, #00e3ae);
}

.customContainerBangla {
    margin: 3rem;
}

#navClass {
    background-color: rgb(33, 138, 174)
}

/* logo rotate 360 */
#appLogo {
    width: 60px;
    height: 60px;
    margin: 2px 15px;
    border-radius: 50%;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navid {
    width: 45%;
    margin: 5px 5px;
}

/* Pre loader */
.mainLoader {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

.customContainer {
    margin: 2rem 7rem;
}

/* Code elements */
.codejs{
    overflow-x:auto;
    margin: 5px 5px 5px 5px;
    background:#fff;
    color:#000000;
}

.codejs-keyword {
    color:#0099ff;
    font-size: 120%;
    font-weight: bold;
}

.codejs-cmd {
    color: #783baa;
}

.codejs-header {
    color: #ff1100;
}

.fontSize {
    font-size: 105%;
}