body {
  background-color: #048484;
}
main {
  display: none;
}
.mainLoader {
  display: none;
}
.navColor {
  background: #f4f4f4;
}
.customContainerBangla {
  margin-left: 3rem;
  margin-right: 3rem;
}
.headerText {
  color: #f4f4f4;
}
.logo {
  height: 100px;
  width: 100px;
  margin-top: 5px;
}
#scrollTop {
  display: none;
}
#logo {
  margin-left: 1rem;
  margin-top: 5px;
}
#navClass {
  background-color: rgb(33, 138, 174);
}
.ulText {
  color: #242323;
}

/* logo rotate 360 */
#appLogo {
  width: 60px;
  height: 60px;
  margin: 2px 15px;
  border-radius: 50%;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.navid {
  width: 45%;
  margin: 5px 5px;
}

/* Pre loader */
.mainLoader {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #048484;
}

nav > ul > li {
  color: black;
}
.customContainer {
  margin: 2rem 7rem;
}

/* Code elements */
.codejs {
  overflow-x: auto;
  margin: 5px 5px 5px 5px;
  background: #fff;
  color: #000000;
}

.codejs-keyword {
  color: #0099ff;
  font-size: 120%;
  font-weight: bold;
}

.codejs-cmd {
  color: #783baa;
}

.codejs-header {
  color: #ff1100;
}

.fontSize {
  font-size: 105%;
}
